<?xml version="1.0"?>
<config>
    <modules>
        <Space48_TimedBanners>
            <version>0.1.1</version>
        </Space48_TimedBanners>
    </modules>
    <global>
        <models>
            <space48timer>
                <class>Space48_TimedBanners_Model</class>
                <resourceModel>space48timer_mysql4</resourceModel>
            </space48timer>
            <space48timer_mysql4>
                <class>Space48_TimedBanners_Model_Mysql4</class>
                <entities>
                    <space48timer>
                        <table>space48timer</table>
                    </space48timer>
                    <banners>
                        <table>space48timer_banners</table>
                    </banners>
                </entities>
            </space48timer_mysql4>
        </models>
        <resources>
            <space48timer_setup>
                <setup>
                    <module>Space48_TimedBanners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </space48timer_setup>
            <space48timer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </space48timer_write>
            <space48timer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </space48timer_read>
        </resources>
        <blocks>
            <space48timer>
                <class>Space48_TimedBanners_Block</class>
            </space48timer>
        </blocks>
        <helpers>
            <space48timer>
                <class>Space48_TimedBanners_Helper</class>
            </space48timer>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <space48timer>
                    <file>space48/timer.xml</file>
                </space48timer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<space48timer>
				<use>admin</use>
				<args>
					<module>Space48_TimedBanners</module>
					<frontName>space48timer</frontName>
				</args>
			</space48timer>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
			</resources>
		</acl>
        <layout>
            <updates>
                <space48timer>
                    <file>space48/timer.xml</file>
                </space48timer>
            </updates>
        </layout>
    </adminhtml>
</config>
